body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: white;
    background: black;
}

.navbar{
    background: black;
    height: 87px;
    width: 1512px;
    display: flex;
    padding: 0px 5%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4x 4x rgb(0,0,0,0.12);
}


.navbar > h1{
    
    font-size: 36px;
    font-family: 400;
    line-height: 47px;
    align-items: center;
    font-family: 'Uncial Antiqua', cursive;
    letter-spacing: 0.02em;
}

.navbar > img{
    top: 20px;
    padding: 0px 3%;
}

.nav-menu{
    height: 27px;
    display: flex;
    flex-direction: row;
    padding: 0px 50%;
    gap: 60px;
}

.nav-menu >p{
    width: 56px;
    height: 27px;
    font-size: 18px;
    font-weight: 27px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: all 0.03em;
}

.hero-container{
    width: 100%;
    margin-left: 85px;
    margin-right: 85px;

}

.hero-container >img{
    width: 1342px;
    height: 473px;
    margin-top: 57px;
    left: 85px;
    border-radius: 24px;
    align-items: center;
}

.hero{
    height: 124px;
    padding: 0 10%;
}
.hero-pad {
    display: flex;
    flex-direction: row;
    padding: 0px 3%;
}

.hero-menu h1{
    width: 553px;
    height: 124px;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    top: 669px;
}


.hero-pad >p{
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;
    top: 676px;
    align-items: center;
}

.navline {
    background: #1391AD;
    height: 86px;
    width: 1512px;
    display: flex;
    padding: 0px 3%;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    align-items: center;
    justify-content: space-between;
    letter-spacing: all 0.02em;
}

.nav-line{
    width: 1512px;
    display: flex;
    gap: 60px;
    color: white;
}

.timeline{
    width: 1512px;
    left: 0px;
    margin-top: 80px;
    background: #1391AD 25% rgb(19,145,173,0.25);
}

.note{
    width: 1570px;
    height: 720px;
    padding: 0 10px;
    background: rgb(19,145,173,0.25);
    align-content: center;
}

.note-menu{
    width: 1512px;
    display: flex;
    flex-direction: row;    
}

.note-pad > h1{
    width: 685px;
    height: 124px;
    left: 96px;
    top: 1538px;
    font-weight: 600;
    font-size: 48px;
    line-height: 63px;
    letter-spacing: all 0.02em;
}

.note-pad > p{
    width: 685px;
    height: 185px;
    left: 96px;
    right: 731;
    top: 1686px;
    font-weight: 400;
    font-size: 20px;
    line-height:37px;
    letter-spacing: all 0.02em;
}

.note-menu >img{
    width: 444px;
    height: 434px;
    left: 983px;
    margin-top: 76px;
    padding: 0 100px;
}

.Main.Deskripsi{
    height: 2211px;
    padding: 0 5%;
    background: black;
}

.Deskripsi-Gambar{
    display: flex;
    flex-direction: row;
}

.deskripsi-Gambar >img{
    width: 436px;
    height: 154px;
    left: 96px;
    margin-top: 70px;
    border-radius: 214px;
}

.Deskripsi-Isi{
    display: flex;
    flex-direction: column;
    padding: 0px 2%;
}

.Deskripsi-isi > h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    align-items: center;
    letter-spacing: all  0.02em;
}

.Deskripsi-Isi > p{
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;
    align-items: center;
    top: 2222px;
    letter-spacing: all 0.02em;
}

.naviden{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 44px;
    letter-spacing: 0.02em;
}

.nav-iden{
    display: flex;
    flex-direction: row;
    padding: 0px 9%;
    gap: 230px;
}

.identifikasi{
    width: 302px;
    height: 390px;
    left: 431px;
    top: 2438px;
    border-radius: 12px;
}

.iden-img{
    display: flex;
    flex-direction: row;
    padding: 0px 50%;
    gap: 72px;
}

.kata{
    background: black;
    padding: 0px 30%;
    align-items: center;
    align-self: center;
}
.kata-pad{
    width: 648px;
    height: 62px;
    left: 432px;
    top: 2938px;
}

.kata-pad > h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: 0.02em;
}

.card-container{
    display: flex;
    flex-direction: row;
    gap: 220px;
    padding: 0px 10%;
    margin-top: 81px;
    
}

.card-img{
    height: 390px;
    left: 431px;
    top: 2438px;
    border-radius: 12px;
    
}
.footer{
    background: #1ab9bf;
    height: 94px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}
.footer-menu{
    left: 4.72%;
    right: 58.96%;
    top: 5.35%;
    bottom: 80.48%;
}

.footer-menu > h1{
    padding: 0px 10%;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    letter-spacing: 0.03em;
}

.footeer{
    width: 1512px;
}
